<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:c="http://java.sun.com/xml/ns/javaee">-->
<!--<head>-->
    <!--<title>Imports</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Welcome!</h1>-->

<!--<br/>-->

<!--<form method="POST" action="talentProfile/importSesame" enctype="multipart/form-data">-->
    <!--Sesame file to upload : <input type="file" name="file">-->
    <!--<input type="submit" value="Upload">-->
<!--</form>-->

<!--<br/>-->

<!--<form method="POST" action="talentProfile/importInfoRetain" enctype="multipart/form-data">-->
    <!--InfoRetain file to upload : <input type="file" name="file">-->
    <!--<input type="submit" value="Upload">-->
<!--</form>-->

<!--<br/>-->

<!--<form method="POST" action="talentProfile/importMyPathHisto" enctype="multipart/form-data">-->
    <!--InfoMyPathHisto file to upload : <input type="file" name="file">-->
    <!--<input type="submit" value="Upload">-->
<!--</form>-->

<!--<br/>-->

<!--<form method="POST" action="talentProfile/importMyPathEpp" enctype="multipart/form-data">-->
    <!--InfoMyPathpp file to upload : <input type="file" name="file">-->
    <!--<input type="submit" value="Upload">-->
<!--</form>-->

<!--<br/>-->

<!--<form method="POST" action="talentProfile/importMyPathCED" enctype="multipart/form-data">-->
    <!--InfoMyPathCED file to upload : <input type="file" name="file">-->
    <!--<input type="submit" value="Upload">-->
<!--</form>-->

<!--<br/>-->


<!--<form method="POST" action="talentProfile/importCollabCM" enctype="multipart/form-data">-->
    <!--CollaBCM file to upload : <input type="file" name="file">-->
    <!--<input type="submit" value="Upload">-->
<!--</form>-->

<!--<br/>-->

<!--<form method="POST" action="talentProfile/importUserRole" enctype="multipart/form-data">-->
    <!--UserRole file to upload : <input type="file" name="file">-->
    <!--<input type="submit" value="Upload">-->
<!--</form>-->

<!--<br/>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:c="http://java.sun.com/xml/ns/javaee">
<head>
    <title>Imports</title>
</head>
<body>
<h1>Welcome!</h1>

<br/>

<form method="POST" action="talentProfile/importSesameDev" enctype="multipart/form-data">
    Sesame file to upload : <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<br/>

<form method="POST" action="talentProfile/importInfoRetainDev" enctype="multipart/form-data">
    InfoRetain file to upload : <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<br/>

<form method="POST" action="talentProfile/importMyPathHistoDev" enctype="multipart/form-data">
    InfoMyPathHisto file to upload : <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<br/>

<form method="POST" action="talentProfile/importMyPathEppDev" enctype="multipart/form-data">
    InfoMyPathpp file to upload : <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<br/>

<form method="POST" action="talentProfile/importMyPathCEDDev" enctype="multipart/form-data">
    InfoMyPathCED file to upload : <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<br/>


<form method="POST" action="talentProfile/importCollabCMDev" enctype="multipart/form-data">
    CollaBCM file to upload : <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<br/>

<form method="POST" action="talentProfile/importUserRoleDev" enctype="multipart/form-data">
    UserRole file to upload : <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<br/>

</body>
</html>